<%-include header%>
<script>
	function message()
	 jQuery.messager.alert('提示:','你好,我叫信息弹出框!','info');   
</script>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h3>确认收货信息</h3>
				<form class="form-horizontal" role="form" method="post" action="/sendorder">
					<div class="form-group">
						<label for="" class="col-sm-2 control-label">地区</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="dic" placeholder="浙江杭州">
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2 control-label">详细地址</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="add" placeholder="江干区下沙高教园区">
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2 control-label">收货人</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="name" placeholder="">
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2 control-label">手机或电话</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="phone" placeholder="">
						</div>
					</div>
						
					<!--<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">确认收货信息</button>
						</div>
					</div>-->
					<h3>支付方式</h3>
					<div class="form-group">
						<div class="radio" style="padding-left: 20px;">
							<label>
								<input type="radio" name="paytype" id="optionsRadios1" value="alipay" checked>支付宝支付
							</label>
						</div>
						<div class="radio" style="padding-left: 20px;">
							<label>
								<input type="radio" name="paytype" id="optionsRadios2" value="weixin">微信支付
							</label>
						</div>
					</div>
					<h3>物品清单</h3>
					<table class="table">
						
						<thead>
							<tr>
								<th width="300">商品名称</th>
								<th>颜色分类</th>
								<th>单价</th>
								<th>数量</th>
								<th>金额</th>
								
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>振动棒</td>
								<th>长黑粗</th>
								<th>888</th>
								<th>1</th>
								<th>888</th>
								<th><a href="" onclick="alert('Welcome!')">删除</a></th>
								
								
								
							</tr>
							
						</tbody>
					</table>


					
					<div class="form-group">
						<!--
                                             	作者：jimersylee@gmail.com
                                             	时间：2014-09-17
                                             	描述：不可见的post数据 用来存放json格式的商品信息
                                             -->
						<input type="text" name="goods" value="{ejeejeie}" style="display:none">
					</div>
					<h3>备注</h3>
					<div class="form-group">
						<label for="" class="col-sm-2 control-label">备注</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="tips" placeholder="有什么特殊的要求呢?">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-success pull-right" align="right">确认付款</button>
						</div>
					</div>
				</form>

			</div>
			<div class="col-md-2"></div>

		</div>

	</div>




	<%-include footer%>