       <hr class="divider">
        <footer a>
        	
        	<!--<p class="pull-right"><a href="#top">回到顶部</a></p>-->
        	<p align="middle"><a href="#">@2014 JimersyLee</a><i></i><a href="#">版权所有</a><i></p>

        </footer>
    





  </body>
</html>